<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <h2>
      Who Won?
    </h2>
    <p>Player Weapon: <%= playerWeapon %></p>
    <p>CPU Weapon: <%= cpuWeapon %></p>
    <p>Winner is: <%= winner%></p>
  </body>
</html>