@font-face {
  font-family: title1;
  src: url(../fonts/white_wood.otf)
}

#colors {
  /*    http://paletton.com/palette.php?uid=50N0F0kcglL4Zvw8Eq6eXhmkwen
  */
}

.container-fluid {
  max-width: 1200px;
  background-color: black;
  /*backup*/
  background-image: url("../photos/rookie_cook/wood1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover !important;
  min-height: 100%;
}

#body {
  box-shadow: 0px 3px 25px 10px black;
  background: black;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 60px;
}

#header {
  background-image: linear-gradient(rgba(255, 242, 204, 0.0) 60%, rgba(255, 242, 204, 0.2) 100%), url("../photos/rookie_cook/pan2.jpg");
  background-position: bottom;
  /*Other Items*/
  color: white;
}

#menu_item {}

#center1 {
  background: url(../photos/rookie_cook/pan2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0) 50px, rgba(255, 242, 204, 0.0) 60%, rgba(255, 242, 204, 0.4) 100%), url(../photos/rookie_cook/fry1.jpg);
  background-position: center;
}

#center2 {
  background: url(../photos/rookie_cook/grill2.png);
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0) 50px, rgba(255, 242, 204, 0.0) 60%, rgba(255, 242, 204, 0.2) 100%), url(../photos/rookie_cook/grill1.jpg);
  background-position:top;
}

#center3 {
  background: url(../photos/rookie_cook/spices4.jpg);
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0) 50px, rgba(255, 242, 204, 0.0) 60%, rgba(255, 242, 204, 0.4) 100%), url(../photos/rookie_cook/spices4.jpg);
  background-position: top;
}

#header,
#center1,
#center2,
#center3,
#center4{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
}

.center {
  background-color: #725629;
  /*backup*/
  padding: 15px;
  font-size: 18px;
}

.center-middle {
  /*    box-shadow: 0px 0px 8px black;*/
  box-shadow: 0px 0px 10px black;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FBECD4;
  background-color: rgba(251, 236, 212, 0.8);
  border-radius: 5px;
}

#footer {
  min-height: 200px;
  background: #725629;
  /*backup*/
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0) 50px, rgba(255, 242, 204, 1.0) 90%), url(../photos/rookie_cook/pan1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*Other Items*/
  color: white;
}

.preview {
  padding: 5px !important;
  background-color: #FBECD4;
  background-color: rgba(251, 236, 212, 0.9);
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  height: 100%;
  text-align: center;
}

.account {
  padding: 5px !important;
  background-color: #FBECD4;
  background-color: rgba(251, 236, 212, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  text-align: center;
}

#full-recipe {
  padding: 5px !important;
  background-color: #FBECD4;
  background-color: rgba(251, 236, 212, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  height: 100%;
  text-align: center;
}

#title {
  font-family: title1;
  font-size: 120px;
  line-height: 85%;
  letter-spacing: -7px;
/*  margin-top: -10px !important;*/
/*  margin-bottom: -20px !important;*/
}

#subtitle {
  font-family: title1;
  font-size: 40px;
}

.subtitle {
  font-family: title1;
  font-size: 64px;
  color: white;
}

.loginTitle {
  font-family: title1;
  font-size: 30px;
  color: white;
}

.welcome {
  font-family: title1;
  font-size: 30px;
}

.error {
  color: red;
}

h2 {
  text-align: center;
  margin: 1px !important;
  text-shadow: 2px 2px 10px black, 2px 2px 8px black;
}

img {
  width: 100%;
}

a{
  color: inherit !important;
  text-decoration: none !important;
}

.link2 {
  color: #FBECD4 !important;
}

.link2:hover {
  color: skyblue !important;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

div {
  /*    border: 1px solid black;*/
}
